@model ImportExportManagement_API.Models.Transaction

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TimeIn" class="control-label"></label>
                <input asp-for="TimeIn" class="form-control" />
                <span asp-validation-for="TimeIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeOut" class="control-label"></label>
                <input asp-for="TimeOut" class="form-control" />
                <span asp-validation-for="TimeOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightIn" class="control-label"></label>
                <input asp-for="WeightIn" class="form-control" />
                <span asp-validation-for="WeightIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightOut" class="control-label"></label>
                <input asp-for="WeightOut" class="form-control" />
                <span asp-validation-for="WeightOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionType" class="control-label"></label>
                <select asp-for="TransactionType" class="form-control"></select>
                <span asp-validation-for="TransactionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionStatus" class="control-label"></label>
                <select asp-for="TransactionStatus" class="form-control"></select>
                <span asp-validation-for="TransactionStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartnerId" class="control-label"></label>
                <select asp-for="PartnerId" class ="form-control" asp-items="ViewBag.PartnerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GoodsId" class="control-label"></label>
                <select asp-for="GoodsId" class ="form-control" asp-items="ViewBag.GoodsId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleId" class="control-label"></label>
                <select asp-for="ScheduleId" class ="form-control" asp-items="ViewBag.ScheduleId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
